@import "assets/styles/HelperFunctions";

.work-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  margin-top: 120px;
  padding: 0 30px;
  box-sizing: border-box;
  .line-portfolio{
    position: relative;
    align-self: flex-start;
    width: 300px;
    font-size: 0.82rem;
    letter-spacing: 1px;
    @include sm{
      letter-spacing: 2px;
    }
    text-transform: uppercase;
    font-weight: 500;
    p{
      //font-family: 'Poppins', sans-serif;
      //font-family: 'Josefin Sans', sans-serif;
      border-top: 2px solid black;
      width: 17.544vw;
      min-width: 150px;
      text-align: right;
    }
  }
  .selected-work{
    margin-top: 20px;
    margin-bottom: 30px;
    h3{
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500 !important;
      margin-bottom:  3px !important;
    }
    div{
      border-top: 2px solid black;
      width: 30px;
    }
    @include sm{
      margin-bottom: 40px;
      h3{font-size: 18px;}
      div{
        width: 50px;
      }
    }
  }
  ul{
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 100px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    li{
      box-sizing: border-box;
      display: flex;
      width: 300px;
      height:350px;
      flex-direction: column;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
      margin-bottom: 30px;
      cursor: pointer;
      @include cbp(520) {
        flex-direction: row;
        width: 450px;
        height: 200px;
      }
      &:hover{
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
        .descp svg{
          right: 20px;
          opacity: 1;
        }
        .proj-img::after{
          background: rgba(0,0,0,0.1);
        }
      }
      .proj-img{
        position: relative;
        box-sizing: border-box;
        width:100%;
        height:55%;
        @include cbp(520) {
          width:42%;
          height:100%;
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          left:0;
          background: rgba(0,0,0,0.3);
        }
      }
      .descp{
        position: relative;
        box-sizing: border-box;
        width:100%;
        height:45%;
        padding: 20px 15px;
        @include cbp(520) {
          padding: 20px 20px 20px 25px;
          height:100%;
          width: 58%;
        }
        >h3{
          //font-family: 'Poppins', sans-serif;
          //font-family: 'Josefin Sans', sans-serif;
          //text-transform: uppercase;
          //color: #296336;
          letter-spacing: 1px;
          margin: 0 0 8px;
          @include cbp(520) {
            font-family: 'Josefin Sans', sans-serif;
            letter-spacing: -0.2px;
            margin: 5px 0 8px;
          }
          font-weight: 500 !important;

        }
        >p{
          overflow: hidden;
          margin: 15px  0  13px!important;
          font-size: 13px;
          line-height: 18px;
          max-height: 54px;
          color: #272b2b;
          opacity: 0.8;
          letter-spacing: -0.3px;
          //@include multiLineEllipsis($lineHeight: 18px, $lineCount: 3, $bgColor: white);
          @include cbp(520) {
            font-size: 14px;
            line-height: 21px;
            max-height: 84px;
            //@include multiLineEllipsis($lineHeight: 21px, $lineCount: 4, $bgColor: white);
          }
        }
        .tag{
          position: absolute;
          bottom: 15px;
          font-size: 12px;
          display:inline-block;
          @include cbp(520) {
            bottom: 10px;
          }
        }
        svg{
          stroke: rgb(200,200,200);
          stroke: black;
          stroke-width:2;
          position: absolute;
          transition:  all 0.5s ease-in-out;
          right: 10px;
          bottom: 18px;
          opacity: 0;
        }
      }
    }
  }
}