body {
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //  sans-serif;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", sans-serif, -apple-system, system-ui, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(12px + 0.35vw); /* Responsive base font size */
  line-height: calc(12px + 1.05vw); /* Responsive Vertical Rhythm */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
